// Basic application includes. Here we should import Foundation
// settings, our own variables, mixins and functions.
@import 'settings';
@import 'variables';

// Now we can include all of theme specific components.
// Delete demo styles below and you are ready
// to start building your theme styling.
.main {
    padding: 6rem 0;

    & > * + * { margin-top: 3rem; }
}

.posts {
    & > * + * { margin-top: 1.5rem; }
}

.footer {
    border-top: 1px solid $medium-gray;
    padding-top: 3rem;
}
